 /* Home Page css*/

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Readex+Pro:wght@600&family=Roboto:wght@300;400;500;700&family=Ubuntu&display=swap');
.mycontainer{
    margin: auto;
    max-width: 1520px;
}
.hanging_thrift {
    float: left;
    width: 100%;
}
.header {
    float: left;
    width: 100%;
    margin-top: 2em;
}
.header_left {
    float: left;
    margin-top: 2em;
    text-align: right;
}
.left_content {
}
.left_content ul {
}
.left_content ul li {
    list-style: none;
    display: inline;
    padding: 0 20px 0 20px;
}
.left_content li a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}
.logo {
    float: left;
    text-align: center;
}
.image_logo {
    float: left;
    width: 100%;
}
.image_logo img {
    max-width: 40%;
}
.header_right {
    float: left;
    margin-top: 2em;
}
.right_content {
    float: left;
}
.right_content ul {
    float: left;
}
.right_content ul li {
    float: left;
    list-style: none;
    display: inline;
    padding: 0 20px 0 20px;
}
.right_content li a {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    text-decoration: none;
}
.trendy_collection {
    float: left;
    width: 100%;
    margin-top: 5em;
}
.trendy_collection_left {
    float: left;
    width: 100%;
    padding-left: 14em;
    margin-top: 11em;
    position: relative;
}
.trendy_collection_left::before {
    content: "";
    background-image: url(../images/yellow.png);
    position: absolute;
    width: 30%;
    height: 190px;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 16em;
    right: 33em;
}
.left {
    float: left;
}
.left_collection {
    float: left;
    width: 100%;
}
.left_collection span {
    font-family: "Great Vibes", cursive;
    font-size: 26px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;

    color: black;
}

.abc {
    float: left;
    width: 100%;
    position: relative;
}
.abc h6 {
    font-family: Roboto;
    font-size: 53px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0em;

    color: black;
}
.abc::after {
    content: " ";
    background-image: url(../images/lines.png);
    z-index: +1;
    position: absolute;
    width: 9%;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 9em;
    left: 12em;
}
.bcd {
    float: left;
    width: 100%;
}
.bcd p {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;

    color: #000000;
}
.right {
    float: left;
}
.trendy_collection_right {
    float: left;
    width: 100%;
    position: relative;
}
.trendy_collection_right::after {
    content: " ";
    background-image: url(../images/blue.png);
    height: 195px;
    width: 30%;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -2px;
    right: 0px;
}
.trendy_collection_right img {
    max-width: 100%;
}
.switch {
    float: left;
    width: 100%;
}
.switch button {
    font-family: Readex Pro;
    font-size: 15px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0.08em;
    text-align: center;
    box-shadow: 6px 6px 0px 0px #ff00a9;
    height: 42px;
    width: 110px;
    border-radius: 0px;
}
.shopping{
    float: left;
    width: 100%;
}
.shopping_her{
    float: left;

}
.her{
    float: left;
    width:100%
}
.her img{
    max-width: 100%;
    height: 655px;
}
.her_button{
    float: left;
    width: 100%;
    position: relative;
}
.her_button button {
    box-shadow: 6px 6px 0px 0px #FF00A9;
    height: 35px;
    width: 110px;
    border-radius: 0px;
    color: black;
    background-color: white;
    font-family: Readex Pro;
    font-size: 15px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.08em;
    text-align: center;
    position: absolute;
    z-index: +1;
    bottom: 20em;
    left: 35em;
}
.shopping_him{
    float: left;
}
.him{
    float: left;
    width: 100%;
}
.him img{
    max-width: 100%;
    height: 655px;
}
.him_button{
    float: left;
    width: 100%;
    position: relative;
}
.him_button button {
    box-shadow: 6px 6px 0px 0px #FF00A9;
    height: 35px;
    width: 110px;
    border-radius: 0px;
    color: black;
    background-color: white;
    font-family: Readex Pro;
    font-size: 15px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.08em;
    text-align: center;
    position: absolute;
    z-index: +1;
    bottom: 21em;
    left: 34em;
}
.policies {
    float: left;
    width: 100%;
    margin-top: 6em;
    padding-left: 14em;
}
.policies_content{
    float: left;
}
.logo1{
    float: left;
    
}
.logo1 img{
    max-width: 100%;
}
.logo_content {
    float: left;
    padding: 11px;
}
.logo_content span{
    font-family: Roboto;
font-size: 20px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0em;
color: #ADADAD;


}
.logo2{
    float: left;
}
.logo2 img{
    max-width: 100%;
}
.logo_content2{
    float: left;
    padding: 11px;
}
.logo_content2 span{
      font-family: Roboto;
font-size: 20px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0em;
color: #ADADAD;  
}
.logo3{
    float: left;
}
.logo_content3{
    float: left;
    padding: 17px;

}
.logo_content3 span{
          font-family: Roboto;
font-size: 20px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0em;
color: #ADADAD; 
}
.handbags{
    float: left;
    width: 100%;
    margin-top: 4em;
}
.bags_left{
    float: left;
}
.handbag_first{
    float: left;

}
.handbag_image{float: left; width: 100%}
.handbag_image img{max-width: 100%;}
.handbag_content {
    float: left;
    background-color: #BAAED6;
;
    height: 422px;
    padding-top: 6em;
}
.purse{
    float: left;
    width: 100%;
    text-align: center;
}
.purse img{
    max-width: 30%;
}
.writting{
    float: left;
    width: 100%;
    text-align: center;
}
.writting h5 span{
    color: red;
     font-family: "Great Vibes", cursive;
    color: #90194B;

font-size: 28px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0em;
text-align: left;


}
.writting h5{
    font-family: Roboto;
font-size: 16px;
font-style: italic;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
color: black;
}
.writting p{
    font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0em;
text-align: center;

}
.writting .para2{
    font-family: Roboto;
font-size: 12px;
font-weight: 500;
line-height: 14px;
letter-spacing: 0em;
text-align: center;
color: #0000002B;

}
.writting button{
    
    height: 30px;
width: 108px;
border-radius: 0px;
color: white;
padding: 2px;
}
.handbag_right{
    float: left;
}
.crown_img{
    float: left;
    width: 100%;
    position: relative;
}
.crown_img img {
    max-width: 100%;
    position: absolute;
    z-index: +1;
    bottom: 118px;
    left: -61px;
}
.handbag_image1{
    float: left;
    width: 100%;
}
.handbag_image1 img{
    max-width: 100%;
    height: 422px;
}
.sale {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 4em;
}
.sale_craze{
    float: left;
    width: 100%;
}
.sale_content{
    float: left;
    width: 100%;
    text-align: center;

}
.sale_content span{
    font-family: Great Vibes;
font-size: 26px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;

color: black;
}
.sale_content h6 span{
font-family: Roboto;
font-size: 28px;
font-weight: 700;
line-height: 33px;
letter-spacing: 0em;
text-align: center;
color:#FF00A9;
}
.sale_content h6{
font-family: Roboto;
font-size: 28px;
font-weight: 700;
line-height: 33px;
letter-spacing: 0em;
text-align: center;
color:#000000;
}
.sale_content p{
    font-family: Roboto;
font-size: 12px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0em;
text-align: center;
color: #B6B6B6;
}
.sale_drop{
    float: left;
    width: 100%;
}
.sale_images{
    float: left;
}
.sale1{
    float: left;
    width: 100%;
    padding-right: 15px;
}
.sale1 img{
    max-width: 100%;
}

.sale_image2{
    float: left;
}
.sale2{
    float: left;
    width: 100%;
    padding-left: 15px;
}
.sale2 img{
    max-width: 100%;
}
.sale_text{
    float: left;
    background-image: url(../images/flower.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 3em;
}
.text1{
    float: left;
    width: 100%;
    padding-top: 3em;
}
.text1 span{
    font-family: Roboto;
font-size: 51px;
font-weight: 400;
line-height: 66px;
letter-spacing: 0em;
text-align: center;
color: #232229;

}
.our_products{
    float: left;
    width: 100%;
    margin-top: 6em;
}
.our_content{
    float: left;
    width: 100%;
}
.swipe{
    float: left;
    width: 100%;
}
/*crousel*/

      
.home-demo .item {
    background: white;
}
.home-demo h2 {
    color: #FFF;
    text-align: center;
    padding: 5rem 0;
    margin: 0;
    font-style: italic;
    font-weight: 300;
}
.demo_1{
float: left;
width: 100%;  
}
.owl_Swipe{
    float: left;
    width: 100%;
}
.item_1{
    float: left;
    width: 100%;
}
.item_2{
    float: left;
    width: 100%;
}            
.item_3{
    float: left;
    width: 100%;
}    
.item_4{
    float: left;
    width: 100%;
}   
.item_1 img{
    padding-bottom: 24px;
}
.item_1 span{
   
    font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color:rgba(50, 50, 50, 0.7);



}
.item_1 .detail{
    padding-top: 10px;
    margin-bottom: 0;
}

.item_1 i{
   color:#FBD103;
    font-size: 14px;

}
.item_1 p strong{
    font-family: Roboto;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: #323232;
}
.item_1 .price{

    font-family: Roboto;
font-size: 30px;
font-weight: 700;
line-height: 35px;
letter-spacing: 0em;
text-align: left;
color: #323232;
margin-bottom: 0;
padding-top: 7px;
}
.price span{
    font-family: Ubuntu;
font-size: 24px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color:rgba(50, 50, 50, 0.7);



}
.item_1 .men{
    padding-top: 10px;
}
.demo_1 .owl-dots {
    display: none;
}
.demo_1 .owl-carousel .owl-nav button.owl-prev{
    font-size: 25px;
    background-color:rgba(50, 50, 50, 0.2) ;
    border-radius: 50%;
    color: white;
    width: 44px;
    height: 44px;
}
.demo_1 .owl-carousel .owl-nav button.owl-next{
    font-size: 25px;
     background-color:rgba(50, 50, 50, 0.2) ;
    border-radius: 50%;
    color: white;
    width: 44px;
    height: 44px;
}
.store_collection{
    float: left;
    width: 100%;
    margin-top: 7em;
}
.collection {
    width: 48%;
    float: left;
    background-image: url(../images/Mask.png);
    background-repeat: no-repeat;
    background-size: contain;
height: 400px;
    border-radius: 0px;
    margin-right: 2%;
}
.collection1{
    float: left;
    width: 100%;
    padding-left: 3em;
    padding-top: 7em;
}
.collection1 h6{
    font-family: Roboto;
font-size: 34px;
font-weight: 600;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
color: rgba(0, 26, 162, 1);

}
.collection p{
    font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color: rgba(0, 0, 0, 1);

}
.collection_2 {
    float: left;
    width: 48%;
    background-image: url(../images/Mask2.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    border-radius: 0px;
    margin-left: 2%;
}
.collection2{
    float: left;
    width: 100%;
     padding-left: 3em;
    padding-top: 7em;
}
.collection2 h6{
    font-family: Roboto;
font-size: 34px;
font-weight: 600;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
color: rgba(253, 46, 36, 1);

}
.collection2 p{
    font-family: Roboto;
font-size: 15px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color:  rgba(0, 0, 0, 1);

}
.testimonials{
    float: left;
    width: 100%;
    background-image: url(../images/Rectangle4.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.testimonials_text{
    float: left;
    width: 100%;
    
}
.checkout {
    text-align: center;
    float: left;
    width: 100%;
    padding-top: 3em;
    padding-bottom: 3em;
}
.checkout span{
    font-family: Great Vibes;
font-size: 26px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0em;
text-align: center;
color: white;
}
.checkout h6{
    font-family: Roboto;
font-size: 28px;
font-weight: 700;
line-height: 33px;
letter-spacing: 0em;
text-align: center;
color: white;
}
.read_more{
    float: left;
    width: 100%;}
.read_more_content{
    float: left;
    width: 100%;
}
.candy{float: left;
width: 100%}
.upper {
    float: left;
    width: 100%;
    margin: 0 20%;
}
.upper_content{
    float: left;
    width: 20%;
}
.upper_content img{
    max-width: 100%;
}
.upper_content2{
    float: left;
    background-color: white;
    text-align: center;
    width: 20%;
    height: 233px;
}
.upper_content2 p{
    font-family: Roboto;
font-size: 11px;
font-weight: 400;
line-height: 13px;
letter-spacing: 0em;
text-align: center;
color: rgba(206, 206, 206, 1);
margin-bottom: 0;
padding-top: 6em;

}
.upper_content2 span {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(126, 126, 126, 1);
    float: left;
    padding-top: 2em;
}
.upper_content2 button{
    height: 32px;
width: 100px;
left: 670px;
top: 4528px;
border-radius: 0px;
background: rgba(0, 0, 0, 1);
color: white;
padding: 2px;
margin-top: 3em;

}
.upper_content3{
    float: left;
    width: 20%;
}
.upper_content3 img{
    max-width: 100%;
}
.lower_content{
    float: left;
    width: 100%;
}
.lets_talk{
    float: left;
    width: 100%;
    margin-top: 6em;
}
.lets_talk_content{
    float: left;
    width: 100%;
}
.talk{
    float: left;
    width: 100%;
    text-align: center;
}
.talk p{
    font-family: Great Vibes;
font-size: 26px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0em;
margin-bottom: 0;
color: black;
}
.talk h6{
    font-family: Roboto;
font-size: 28px;
font-weight: 700;
line-height: 33px;
letter-spacing: 0em;
text-align: center;
color:rgba(255, 0, 169, 1);
margin-bottom: 0;

}
.talk h6 span{
    font-family: Roboto;
font-size: 28px;
font-weight: 700;
line-height: 33px;
letter-spacing: 0em;
text-align: center;
color: black;
}
.talk span{
    font-family: Roboto;
font-size: 12px;
font-weight: 700;
line-height: 14px;
letter-spacing: 0em;
text-align: center;
color:rgba(182, 182, 182, 1);

}
.telephone{
    float: left;
    width: 100%;
    background-image: url(../images/Group230.png);
    background-repeat: no-repeat;
    background-size: contain;
    
    position: relative;
}
.telephone_content {
    float: left;
    height: 378.068481px;
    width: 537.062622px;
    border-radius: 0px;
    background-image: url(../images/tri.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 615px;
    top: 15px;
}
.telephone_content input[type="text"] {
border-top: none;
border-left: none;
border-right: none;

}
.telephone_content .dash input{
    border-bottom: none;
}
.phune {
    float: left;
    width: 100%;
    padding-left: 6em;
    padding-top: 5em;
}
.telephone_content button{
   height: 58.904109954833984px;
width: 488.0626220703125px;
margin-left: 3em;
border-radius: 0px;

}
.subscribe{
    float: left;
    width: 100%;
    margin-top: 5em;
}
.subscribe_upper {
    float: left;
    width: 100%;
    text-align: center;
    background: rgba(241, 241, 241, 1);
    padding-bottom: 3em;
}
.upper_text{
    float: left;
    width: 100%;
    padding-top: 5em;
    
}
.upper_text h6{
    font-family: Roboto;
font-size: 33px;
font-weight: 500;
line-height: 39px;
letter-spacing: 0.1em;
text-align: center;
color: black;
}
.subscribe_lower{
    float: left;
    width: 100%;
}
.lower_text {
    float: left;
    width: 100%;
    margin-top: 3em;
}
.lower_text input[type="text"] {
    border-left: none;
    border-right: none;
    border-top: none;
    width: 28%;
    background-color: unset;
    border-color: black;
}
.lower_text button{
    font-family: Readex Pro;
    font-size: 15px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0.08em;
    text-align: center;
    box-shadow: 6px 6px 0px 0px #ff00a9;
    height: 42px;
    width: 119px;
    border-radius: 0px;
}
.footer{
    float: left;
    width: 100%;
}
.footer_content{
    float: left;
    width: 100%;
    text-align: center;
}
.footer_upper{
    float: left;
    width: 100%;
    text-align: center;
    background: rgba(51, 51, 51, 1);
   
    padding: 2em;

}
.footer_upper img{
    max-width: 100%;
    padding-left: 11px;
}
.footer_middle{
    float: left;
    width: 100%;
    background: rgba(31, 31, 31, 1);
    padding-top: 4em;

}
.footer_image{
        background: rgba(31, 31, 31, 1);
    padding-top: 4em;
}
.footer_middle img{
    max-width: 100%;
}
.storepolicy{
    float: left;
width: 20%;
}
.storepolicy span{
    font-family: Roboto;
font-size: 13px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0px;
text-align: center;
color: rgba(186, 186, 186, 1);


}
.storepolicy1 {
    float: left;
    width: 70%;
    margin: 30px 15%;
}
.storepolicy2{
    width: 33.33%;
    float: left;

}
.storepolicy3{
    float: left;
    width: 70%;
    margin: 30px 15%;


}
.storepolicy3 span{
        font-family: Roboto;
font-size: 13px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0px;
text-align: center;
color: rgba(186, 186, 186, 1);
}
.storepolicy3 span i{
    padding-right: 10px;
}
.footer_lower{
    float: left;
    width: 100%;
}
.lower_content {
    float: left;
    width: 100%;
    background: rgba(51, 51, 51, 1);
    padding-top: 2em;
}
.lower_content p{
    font-family: Roboto;
font-size: 11px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: center;

 color:rgba(69, 69, 69, 1);

}
.lower_content p span{
   color: rgba(133, 133, 133, 1);
}
.lower_content a i{
    color: rgba(74, 74, 74, 1);
    padding-left: 20px;

}
.lower_content a {
    text-decoration: none;
}
.lower_content a i:hover{
    color: white;
}
/*women_collection page*/
.women_collection{
    float: left;
    width: 100%;
}
.women_collection_left{
     float: left;
    width: 100%;
    padding-left: 14em;
    margin-top: 11em;
    position: relative;
}
.def{
float: left;
width: 100%;
padding-bottom: 20px;

}
.def h6{
    font-family: Roboto;
font-size: 60px;
font-weight: 300;
line-height: 55px;
letter-spacing: 0em;
text-align: left;

}
.ghi{
    float: left;
    width: 100%;
    padding-bottom: 20px;
}
.ghi p{
    font-family: Roboto;
font-size: 25px;
font-weight: 400;
line-height: 55px;
letter-spacing: 0em;
text-align: left;

}
.women_collection_right{
    max-width: 100%;
    padding-left: 4em;
}
.craze{
    float: left;
    width: 100%;
    margin-top: 5em;
}
.discount{
    float: left;
    width: 100%;
    margin-top: 4em;
}
.discount_content{
    float: left;
}

.img_sale{
    float: left;
    width: 100%;
    background-image: url(../images/img.png);
    background-repeat: no-repeat;
    background-size: cover;
width: 304px;
height: 271px;
position: relative;

}
.img_sale p {
    font-family: Roboto;
    font-size: 35px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    position: absolute;
    margin-bottom: 0;
    bottom: 27px;
    left: 45px;

}
.img_sale p a{
        font-family: Roboto;
    font-size: 35px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
  text-decoration: none;
    margin-bottom: 0;
    

}
.img_sale2{
       float: left;
    width: 100%;
    background-image: url(../images/back.png);
    background-repeat: no-repeat;
    background-size: cover;
width: 304px;
height: 271px;
position: relative;
}

.img_sale2 p{
        font-family: Roboto;
    font-size: 35px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    position: absolute;
    margin-bottom: 0;
    bottom: 27px;
    left: 45px;
}
.img_sale2 p a{
    text-decoration: none;
        font-family: Roboto;
    font-size: 35px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    
    margin-bottom: 0;
   
}
.img_sale2 p i {
    background-color: white;
    color: red;
    border-radius: 50%;
    font-size: 14px;
    padding: 6px;
    position: absolute;
    bottom: 5px;
    left: 97px;
}
.img_sale3{
           float: left;
    width: 100%;
    background-image: url(../images/jeans.png);
    background-repeat: no-repeat;
    background-size: cover;
width: 304px;
height: 271px;
position: relative;
}
.img_sale3 p{
         font-family: Roboto;
    font-size: 35px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    position: absolute;
    margin-bottom: 0;
    bottom: 27px;
    left: 35px;
}
.img_sale3 p a{
    text-decoration: none;
          font-family: Roboto;
    font-size: 35px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    
    margin-bottom: 0;
  

}
.img_sale4{
               float: left;
    width: 100%;
    background-image: url(../images/skirt.png);
    background-repeat: no-repeat;
    background-size: cover;
width: 304px;
height: 271px;
position: relative;
}
.img_sale4 p {
    font-family: Roboto;
    font-size: 39px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    position: absolute;
    margin-bottom: 0;
    bottom: 27px;
    left: 49px;
}
.img_sale4 p a{
    text-decoration: none;
     font-family: Roboto;
    font-size: 39px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-bottom: 0;

}
.new_arrivals{
    float: left;
    width: 100%;
    margin-top: 5em;
}
.new_content{
    text-align: center;
    
}
 .viewall{
    float: left;
    width: 100%;
    position: relative;
 }
.viewall_content {
    float: left;
    width: 100%;
    position: absolute;
    text-align: right;
    bottom: 14px;
    left: -182px;
}
.viewall_content span{
    font-family: Readex Pro;
font-size: 16px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0.08em;
text-align: left;
color: black;
}

.viewall_content span a{
    text-decoration: none;
        font-family: Readex Pro;
font-size: 16px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0.08em;
text-align: left;
color: black;
}
.viewall_images{
    float: left;
    width: 100%;
    margin-top: 3em;
}
.viewall_imgs{
    float: left;

}
.viewall_imgs img{
    max-width: 100%;
}
.viewall_imgs p{
    font-family: Roboto;
font-size: 13px;
font-weight: 600;
line-height: 15px;
letter-spacing: 0em;
text-align: left;
color: black;
margin-bottom: 0;
padding-top: 14px;
}
.dress{
    float: left;
    padding-top: 4px;
}
.dress span{
    font-family: Roboto;
font-size: 13px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
text-align: left;
color: rgba(119, 119, 119, 0.7);

}
.dress_price{
    float: left;
    padding-top: 4px;
}
.dress_price .red{
    font-family: Roboto;
font-size: 11px;
font-weight: 600;
line-height: 13px;
letter-spacing: 0em;
text-align: right;
color: red;
}

.dress_price strong{
        font-family: Roboto;
font-size: 11px;
font-weight: 600;
line-height: 13px;
letter-spacing: 0em;
text-align: right;
color: red;
}
.image_section{
    float: left;
    width: 100%;
    margin-top: 8em;
}
.black_white{
    float: left;
    width: 100%;
}
.black_white img{
    width: 100%;
}
 .black_white_content{
    float: left;
 }
 .black_white_content img{
    max-width: 100%;
 }
 .offers{
    float: left;
    width: 100%;
    margin-top: 7em;
 }
 .deals{
    float: left;
    width: 100%;
 }
.deals_images {
    float: left;
    width: 100%;
    margin-top: 4em;
}
 .img_sale5{
                 float: left;
    width: 100%;
    background-image: url(../images/p11.png);
    background-repeat: no-repeat;
    background-size: cover;
position: relative;
height: 332px;
width: 259px;

border-radius: 0px;
 }
 .img_sale5 p {
    font-family: Roboto;
    font-size: 39px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    position: absolute;
    margin-bottom: 0;
    bottom: 27px;
    left: 49px;
}
.img_sale5 p a{
    text-decoration: none;
     font-family: Roboto;
    font-size: 27px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-bottom: 0;

}
 .img_sale6{
                 float: left;
    width: 100%;
    background-image: url(../images/p12.png);
    background-repeat: no-repeat;
    background-size: cover;
position: relative;
height: 332px;
width: 259px;

border-radius: 0px;
 }
 .img_sale6 p {
    font-family: Roboto;
    font-size: 39px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    position: absolute;
    margin-bottom: 0;
    bottom: 27px;
    left: 49px;
}
.img_sale6 p a{
    text-decoration: none;
     font-family: Roboto;
    font-size: 27px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-bottom: 0;

}
 .img_sale7{
                 float: left;
   
    background-image: url(../images/p13.png);
    background-repeat: no-repeat;
    background-size: cover;

position: relative;
height: 332px;
width: 259px;

border-radius: 0px;
 }
 .img_sale7 p {
    font-family: Roboto;
    font-size: 39px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    position: absolute;
    margin-bottom: 0;
    bottom: 27px;
    left: 49px;
}
.img_sale7 p a{
    text-decoration: none;
     font-family: Roboto;
    font-size: 27px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-bottom: 0;

}
 .img_sale8{
                 float: left;
   
    background-image: url(../images/p14.png);
    background-repeat: no-repeat;
    background-size: cover;

position: relative;
height: 332px;
width: 259px;

border-radius: 0px;

 }
 .img_sale8 p {
    font-family: Roboto;
    font-size: 39px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    position: absolute;
    margin-bottom: 0;
    bottom: 27px;
    left: 49px;
}
.img_sale8 p a{
    text-decoration: none;
     font-family: Roboto;
    font-size: 27px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-bottom: 0;

}
.summer{
float: left;
width: 100%;
margin-top: 7em;
}
.summer_images{
    float: left;
    width: 100%;
    margin-top: 4em;
}
.summer_content{
    float: left;
    width: 24%;
    margin-left: 12px;
}
.ruffles{
    float: left;
    width: 100%;
}
.ruffles img{
    max-width: 100%;
}
.ruffle_content{
    float: left;
    width: 100%;
}
.ruffle_text {
    float: left;
    width: 100%;
    text-align: center;
    padding-right: 1px;
    padding-top: 1em;
    







}
.ruffle_text span{
    font-family: Roboto;
font-size: 15px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0em;
text-align: center;
color: rgba(137, 137, 137, 1);

}
.ruffle_text p{
    font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0em;
text-align: center;
color: black;
}
.bordeer{
    float: left;
    width: 70%;
    

border:6px solid ;

border-color: rgba(221, 195, 255, 1) rgba(255, 195, 249, 1);


}
.follow{
    float: left;
    width: 100%;
}
.follow_upper {
    float: left;
    width: 100%;
    margin-top: 3em;
}
.follow_upper_content{
    float: left;
    width: 100%;
}
.follow_upper_content h6{
    font-family: Roboto;
font-size: 33px;
font-weight: 500;
line-height: 39px;
letter-spacing: 0.1em;
text-align: center;
color: black;
padding-bottom: 2em;
}
.follow_middle_content {
    float: left;
    position: relative;
}
.follow_middle_content img{
    max-width: 100%;
}
.follow_middle_content i.fa-brands.fa-instagram {
    position: absolute;
    top: 2em;
    display: none;
    left: 102px;
    color: white;
    font-size: 30px;
}
.follow_middle_content:hover.follow_middle_content i.fa-brands.fa-instagram{
display: block;
 
}
.img_sale21{
    float: left;
    width: 100%;
    background-image: url(../images/p31.png);
    background-repeat: no-repeat;
    background-size: cover;
width: 304px;
height: 271px;
position: relative;

}
.img_sale21 p {
    font-family: Roboto;
    font-size: 35px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    position: absolute;
    margin-bottom: 0;
    bottom: 27px;
    left: 45px;

}
.img_sale21 p a{
        font-family: Roboto;
    font-size: 35px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
  text-decoration: none;
    margin-bottom: 0;
    

}
.img_sale22{
       float: left;
    width: 100%;
    background-image: url(../images/p32.png);
    background-repeat: no-repeat;
    background-size: cover;
width: 304px;
height: 271px;
position: relative;
}
.img_sale22 p{
        font-family: Roboto;
    font-size: 35px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    position: absolute;
    margin-bottom: 0;
    bottom: 27px;
    left: 45px;
}
.img_sale22 p a{
    text-decoration: none;
        font-family: Roboto;
    font-size: 35px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    
    margin-bottom: 0;
   
}
.img_sale22 p i {
    background-color: white;
    color: red;
    border-radius: 50%;
    font-size: 14px;
    padding: 6px;
    position: absolute;
    bottom: 5px;
    left: 97px;
}
.img_sale23{
           float: left;
    width: 100%;
    background-image: url(../images/p33.png);
    background-repeat: no-repeat;
    background-size: cover;
width: 304px;
height: 271px;
position: relative;
}
.img_sale23 p{
         font-family: Roboto;
    font-size: 35px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    position: absolute;
    margin-bottom: 0;
    bottom: 27px;
    left: 35px;
}
.img_sale23 p a{
    text-decoration: none;
          font-family: Roboto;
    font-size: 35px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    
    margin-bottom: 0;
  

}
.img_sale24{
               float: left;
    width: 100%;
    background-image: url(../images/p34.png);
    background-repeat: no-repeat;
    background-size: cover;
width: 304px;
height: 271px;
position: relative;
}
.img_sale24 p {
    font-family: Roboto;
    font-size: 39px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    position: absolute;
    margin-bottom: 0;
    bottom: 27px;
    left: 49px;
}
.img_sale24 p a{
    text-decoration: none;
     font-family: Roboto;
    font-size: 39px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-bottom: 0;

}
 .img_sale41{
                 float: left;
    width: 100%;
    background-image: url(../images/p25.png);
    background-repeat: no-repeat;
    background-size: cover;
position: relative;
height: 332px;
width: 259px;

border-radius: 0px;
 }
 .img_sale41 p {
    font-family: Roboto;
    font-size: 39px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    position: absolute;
    margin-bottom: 0;
    bottom: 27px;
    left: 49px;
}
.img_sale41 p a{
    text-decoration: none;
     font-family: Roboto;
    font-size: 27px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-bottom: 0;

}
 .img_sale42{
                 float: left;
    width: 100%;
    background-image: url(../images/p26.png);
    background-repeat: no-repeat;
    background-size: cover;
position: relative;
height: 332px;
width: 259px;

border-radius: 0px;
 }
 .img_sale42 p {
    font-family: Roboto;
    font-size: 39px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    position: absolute;
    margin-bottom: 0;
    bottom: 27px;
    left: 49px;
}
.img_sale42 p a{
    text-decoration: none;
     font-family: Roboto;
    font-size: 27px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-bottom: 0;

}
 .img_sale43{
                 float: left;
   
    background-image: url(../images/p27.png);
    background-repeat: no-repeat;
    background-size: cover;

position: relative;
height: 332px;
width: 259px;

border-radius: 0px;
 }
 .img_sale43 p {
    font-family: Roboto;
    font-size: 39px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    position: absolute;
    margin-bottom: 0;
    bottom: 27px;
    left: 49px;
}
.img_sale43 p a{
    text-decoration: none;
     font-family: Roboto;
    font-size: 27px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-bottom: 0;

}
 .img_sale44{
                 float: left;
   
    background-image: url(../images/p28.png);
    background-repeat: no-repeat;
    background-size: cover;

position: relative;
height: 332px;
width: 259px;

border-radius: 0px;

 }
 .img_sale44 p {
    font-family: Roboto;
    font-size: 39px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    position: absolute;
    margin-bottom: 0;
    bottom: 27px;
    left: 49px;
}
.img_sale44 p a{
    text-decoration: none;
     font-family: Roboto;
    font-size: 27px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-bottom: 0;

}
.manage_address{
    float: left;
    width: 100%;
}
.address{
    float: left;
    width: 100%;
}
.address_img{
    float: left;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.06);
border-radius: 10px;
margin-top: 6em;

}
.address_img1 {
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 30px;
}
.address_img1 h6{
    font-family: Roboto;
font-size: 18px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0em;
padding-top: 15px;
color: black;
}
.address_img1 p{
    font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
padding-top: 5px;
color: rgba(119, 119, 119, 1);

}
.address_list{
    float: left;
    width: 100%;
}
.address_list_content{
    float: left;
    width: 100%;
}
.address_list_content ul{
    float: left;
    width: 100%;
}
.address_list_content ul li {
    list-style: none;
    padding: 15px 25px;
    margin: 20px 0;
    border-left: 5px solid white;
      font-family: Roboto;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color: rgba(116, 116, 116, 1);

}
.address_list_content ul li:hover{
    color: rgba(255, 0, 169, 1);
border-left: 5px solid rgba(255,0,169,1) ;
background: rgba(255, 244, 251, 1);



}
.address_list_content ul li:hover a{
    color: rgba(255,0,169,1);
}
.address_list_content li a{
    text-decoration: none;
color: rgba(116, 116, 116, 1);



}
.address_list_content li i{
    padding-right: 10px;
}
.details{
    float: left;
    margin-top: 5em;
    border-radius: 10px;
   

}
.details1 {
    float: left;
    width: 100%;
    margin: 15px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.06);
    
    padding: 24px;
}
.details_content{
    float: left;
    width: 100%;
}
.details_content h6{
    font-family: Roboto;
font-size: 30px;
font-weight: 600;
line-height: 35px;
letter-spacing: 0em;
text-align: left;
color: black;
padding-left: 20px;
}
.add_address {
    float: left;
    border: 1px solid rgba(125, 99, 189, 1);
    padding: 40px 20px;
    width: 849px;
    border-radius: 0px;
    margin-left: 20px;
}
.add_content{
    float: left;
    width: 100%;
}
.add_content a{
    text-decoration: none;
    color: rgba(47, 5, 149, 1);
    font-family: Roboto;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0em;



}
.cool {
    border: 1px solid black;
    float: left;
    width: 100%;
    width: 849px;
    margin-top: 3em;
    padding: 10px 20px;
    margin-left: 20px;
}
.default{
    float: left;
}
.default1{
    float: left;
    text-align: right;
}
.text_text{
    float: left;
    width: 100%;
}
.default p{
    font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0em;

color: black;
}
.text_text p{
    font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color: black;
}
.default1 a i{
    color: black;
}


/*all products page*/
.allproducts{
    float: left;
    width: 100%;
}
.range {
    float: left;
    width: 100%;
    margin-top: 2em;
}
.range_content{
    float: left;

}
.range_home{
    float: left;

}

.range_home a{
    text-decoration: none;
}
.range_home a span {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    padding: 0 7px;
}
.range_home .span_1 {
      font-family: Roboto;
font-size: 12px;
font-weight: 500;
line-height: 14px;
letter-spacing: 0em;
text-align: left;
color: #474747;
  
} 
.price {
    float: left;
    width: 100%;
    background-color: #F9FAFB;
    margin-top: 60px;
    height: 1500px;
}
.price_content{
    float: left;
    width: 100%;
}
.price_content1 {
    float: left;
    width: 100%;
    padding-left: 20px;
    padding-top: 25px;
}
.price_content1 h6{
    font-family: Roboto;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0.02em;
text-align: left;
color: black;
}
.price_content2 {
    float: left;
    width: 50%;
    padding-top: 10px;
}
.price_content2 span {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #474747;
    padding-left: 20px;
}
.price_content3 {
    float: left;
    width: 50%;
    text-align: right;
    padding-top: 10px;
    padding-right: 20px;
}
.price_content3 span{
       font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.02em;
text-align: left;
color: #474747; 
}
.slider{
    float: left;
    width: 100%;
}























.categories {
    float: left;
    width: 100%;
    padding-top: 51px;
    padding-left: 20px;
}
.categories h6 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #1F2937;
    padding-bottom: 20px;
}
.categories p{
    font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.02em;
text-align: left;
color: #1F2937;

}
.four_more a{
    text-decoration: none;
    font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;

color: #FF00A9;
text-align: center;
}

.four_more{
float: left;
width: 100%;
text-align: center;

}
.categories p input{

border-radius: 0px;
border: 1.5px solid #374151;
color: #374151;


}
.range_sale{
    float: left;
}
.range_sale_content {
    float: left;
    width: 100%;
    margin: 0 60px;
}
.range_head1 span{
    font-family: Great Vibes;
font-size: 26px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0em;
text-align: left;
color: black;
}
.range_head{
    float: left;
    width: 100%;
}
.range_head1{
    float: left;
}
.range_head1 .pro{
    font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0em;
text-align: left;
color: #9A9A9A;

}
.range_head2{
    float: left;
    text-align: right;
    padding-right: 40px;

}
.range_head2 span{
    font-family: Roboto;
font-size: 10px;
font-weight: 400;
line-height: 12px;
letter-spacing: 0em;
text-align: left;
color: #9A9A9A;
  border: 0.5px solid #D9D9D9;
  padding: 10px;

}
.range_head2 i{
    padding-left: 20px;
}
.range_head2 a{
    text-decoration: none;
}
.range_sale_content .viewall_imgs i{
    color:  #FBD103;

}
.manage_address{
    float: left;
    width: 100%;
}
.details_address{
    float: left;
    width: 100%;
}
.details_address_head{
    float: left;
}
.detail_address_head_center{
    float: left;
    text-align: right;
}
.detail_address_head_center span{
    font-family: Roboto;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0.02em;
text-align: left;
color: black;
}
 .detail_address_head_right{
    float: left;
    text-align: right;

 }
 .numeric{
    float: left;
    width: 100%;
    position: relative;
   

 }
.numeric span {
    padding: 16px;
    background-color: #DFDEDE;
    color: white;
    border-radius: 50%;
    font-size: 10px;
}
.numeric::after {
    content: "";
    background-image: url(../images/line22.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    height: 3px;
    width: 95px;
    left: 208px;
    top: 14px;
    z-index: -1;
}
.default100 {
    float: left;
    width: 100%;
    margin-top: 4em;
}
.default_content{
    float: left;

}
.add_content100{
    float: left;
    width: 100%;
      
}
.add_content100  a{text-decoration: none;

   
}
.add_content100 a span{

   
color: #FF00A9;

    font-family: Roboto;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0em;
}
.add_address100 {
    float: left;
    width: 88%;
    border: 1px solid #FF00A9;
    margin-top: 2em;
    margin-left: 6.1em;
    height: 93px;
    border-radius: 5px;
    padding: 33px 25px;
}
.radios{
    float: left;
    width: 100%;
}
.red {
    float: left;
    margin-top: 3em;
    height: 25px;
}
.black_button{
    float: left;
    width: 100%;
}
.button_content {
    float: left;
    margin-top: 2em;
    width: 100%;
    margin-left: 6em;
}
.button_content button{
    height: 72px;
width: 243px;
color: white;
border-radius: 5px;

}
.detail_address {
    float: left;
    width: 100%;
    margin-top: 3em;
}
.data_details1{
    float: left;
    background-color: #FFFFFF;
    margin-left: 35px;
 


}
.pricedetails {
    float: left;
    width: 100%;
    padding-top: 11px;
    padding-left: 20px;
}
.pricedetails h6{
    font-family: Roboto;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color: #AFAFAF;


}
.gun{
    float: left;
    width: 100%;
}
.gun1 {
    float: left;
    width: 50%;
    padding-top: 27px;
    padding-left: 11px;
}
.gun2 {
    float: left;
    width: 50%;
    text-align: right;
    padding-top: 27px;
    padding-right: 10px;
}
.gun1 span {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}
.gun2 span{
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: right;
color: black;
}
.gun23 {
    float: left;
    width: 50%;
    text-align: right;
    padding-top: 27px;
    padding-right: 10px;
}
.gun23 span{
    color: #008D0E;

}
.yuku {
    float: left;
    width: 100%;
    padding-top: 30px;
    padding-left: 10px;
}
.yuku p{
    font-family: Roboto;
font-size: 11px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
text-align: left;
color: #008D0E;
}
.topa{
    float: left;
    width: 100%;
       box-shadow: 0px 0px 18px 0px #0000000F;
}
/*payment method css*/

.payment_method{
    float: left;
    width: 100%;
}
.money {
    float: left;
    margin-top: 24px;
}
.money h4 {
    font-family: roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0px;
    padding-top: 1em;
    color: black;
    padding-left: 31px;
}
.check_pay {
    float: left;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}
.check_pay span{
  

font-family: roboto;
font-size: 12px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0.5px;
text-align: left;
color: black;
}
.check_pay i{
    color: black;
}
.check_pay input[type="checkbox"] {
    height: 12px;
}
.check_pay1 {
    float: left;
    width: 100%;
    padding-top: 1em;
}
.check_pay1 span{

font-family: roboto;
font-size: 12px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0.5px;
text-align: left;

}
.money input[type="text"]{
    background: rgba(223, 222, 222, 0.3);


}
.check_out:hover{
    background-color: rgba(247, 247, 247, 0.7);

}
.money input[type="text"] {
    width: 94%;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 12px;
    outline: none;
    opacity: 60%;
    margin-bottom: 25px;
    margin-left: 20px;
}
.check_out {
    float: left;
    width: 100%;
    padding-left: 32px;
}
.check_out1{
    float: left;
}
.check_out2 {
    float: left;
    padding-top: 12px;
}
.check_out2 input[type="checkbox"] {
    height: 31px;
    width: 20px;
}
.my_button {
    float: left;
    width: 100%;
    margin-left: 35px;
    margin-top: 4em;
}
.my_button button{
    height: 72px;
width: 243px;
font-family: Roboto;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0.02em;


border-radius: 5px;

}
.money_right{
    float: left;
}
.Credit_card {
    float: left;
    width: 100%;
    margin-top: 23px;
    margin-left: 30px;
}
.Credit_card img {
    max-width: 100%;
    width: 80%;
}
.card_details {
    float: left;
    width: 100%;
    margin-top: 25px;
}

.money_right input[type="text"] {
    width: 94%;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 12px;
    outline: none;
    opacity: 60%;
    margin-bottom: 25px;
    margin-left: 20px;
     background: rgba(223, 222, 222, 0.3);
}
.expiry{
    float: left;
    width: 100%;
}
.expiry input[type="text"] {
    width: 44%;
}
.card_details span {
    font-family: roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    color: rgba(153, 153, 153, 1);
    padding-left: 0px;
}
.card_details input[type="checkbox"] {
    margin-left: 27px;
    height: 12px;
    width: 18px;
}

/*complete order*/

.complete_order{
    float: left;
    width: 100%;
}
.big_photo{
    float: left;
    width: 100%;
    text-align: center;
}
.big_photo img {
    max-width: 100%;
    padding: 39px;
}
.my_button100{
    float: left;
    width: 100%;
    text-align: center;
}
.my_button100 button{
        height: 72px;
width: 243px;
font-family: Roboto;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0.02em;


border-radius: 5px;
}

/*my_orders*/
.my_orders{
    float: left;
    width: 100%;
}
.hello_order{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.my_orders{
    float: left;
    width: 100%;
}
.order_it1{
    float: left;
font-family: 'Exo 2', sans-serif;
font-size: 30px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0em;

}
.order_it2{
    float: left;
    text-align: right;
    font-family: Lexend Deca;
font-size: 20px;
font-weight: 400;
line-height: 25px;

}
.order_it{
    float: left;
    width: 100%;
}
.order_info {
    border: 1px solid;
    float: left;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
.order_info1{
    float: left;
}
.order_info2{
    float: left;
}
.order_info2 .order_inner{float: left;
    padding: 18px 0;
    width: 70%;
    font-family: Rubik;
font-size: 15px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0.02em;
color: rgba(153, 153, 153, 1)
;

}
.order_it3 {
    text-align: right;
    float: left;
    font-family: Rubik;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: right;
    color: rgba(172, 172, 172, 1);
   
}
.order_price{
    float: left;
    font-family: Lexend Deca;
font-size: 25px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0em;
text-align: left;
color: #2F0595;

;
}
.details15 {
    float: left;
    width: 100%;
    float: left;
    width: 100%;
    
    padding: 20px;
    box-shadow: 0px 0px 18px 0px #0000000F;
    margin: 17px;
}
/*T&C*/
.tandc{
    float: left;
    width: 100%;
}
.terms{
    float: left;
    width: 100%;
}
.condition{
    float: left;
    width: 100%;
}
.condition h6{
    font-family: Roboto;
font-size: 12px;
font-weight: 500;
line-height: 14px;
letter-spacing: 0em;
text-align: left;
color: black;
}
.condition hr{
    color: #E784B3;

}
.terms1 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    color: black;
    padding-top: 5em;
}
.terms p {
    padding-top: 16px;
    padding-bottom: 3em;
}
/*notification*/
.notification{
    float: left;
    width: 100%;
}
.notifi{
    float: left;
    width: 100%;
}
.notifi1 {
    float: left;
    width: 100%;
    border-bottom: 1px solid  #E784B3;
    margin-top: 4em;
}
.notify{
    float: left;
}
.notify1{
    float: left;
    width: 100%;

}
notify1 h6{
    font-family: Roboto;
font-size: 12px;
font-weight: 500;
line-height: 14px;
letter-spacing: 0em;
text-align: left;
color: black;
}
.notifi_right{
    float: left;
}
.notify2{
    float: left;
    width: 100%;
}
.notify2 h6{
    font-family: Roboto;
font-size: 12px;
font-weight: 500;
line-height: 14px;
letter-spacing: 0em;
text-align: right;
color: black;
}
.notification_content {
    float: left;
    width: 100%;
    margin-top: 2em;
}
.notification_content1{
    float: left;
    width: 100%;
}
.table_content{
    float: left;
    width: 100%;
}
 .table_1{
    float: left;
    width: 100%;
 }
 .table_1 .icun i{
color: rgba(255, 0, 169, 1);
font-size: 15px;
 }
.table_1 td {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    padding-left: 5px;
}
/*policy*/
.policy{
    float: left;
    width: 100%;
}